.photo__items {
  list-style: none;
  padding: 0;
  padding-bottom: 146px;
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 767px) {
  .photo__items {
    grid-template-columns: repeat(2, 1fr);
  }
}