.from-ptu {
  display: grid;
  grid-template-columns: auto 720px;
  grid-template-rows: 170px 284px 48px auto auto;
  grid-column-gap: 60px;
  grid-template-areas:
    "title photo"
    "description photo"
    "time photo"
    "button photo"
    ". achievements";
}

@media screen and (max-width: 1439px) {
  .from-ptu {
    grid-template-columns: 414px;
    grid-template-rows: 56px 127px 48px 94px 450px auto;
    grid-column-gap: none;
    grid-template-areas:
      "title"
      "description"
      "time"
      "button"
      "photo"
      "achievements";
  }

}
