.section-title {
  max-width: 568px;
  font-family: 'NeueMachinaRegular' , "Arial", "Impact", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding-left: 25.4vw;
  padding-bottom: 40px;
}

.section-title1 {
  max-width: 568px;
  font-family: 'NeueMachinaRegular' , "Arial", "Impact", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .section-title {
    max-width: 369px;
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 414px) {
  .section-title {
    padding-left: 24px;
  }
}
  
