.hand-to-god__author {
  margin: 0;
  padding: 0 0 4px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.hand-to-god__author:last-of-type{
  padding: 0;
}
