.hand-to-god__text {
  max-width: 602px ;
  grid-area: text;
  margin: 0;
  font-family: 'FormularLight';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
}
@media screen and (max-width: 1439px) {
  .hand-to-god__text {
    padding: 0 25px 0 25px;
  }

}

