.title {
  max-width: 568px;
  font-family: 'NeueMachinaRegular';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding-left: 25.4vw;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .title {
    max-width: 369px;
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 414px) {
  .title {
    padding-left: 24px;
  }
}