.hand-to-god__name {
  margin: 0 0 24px 28px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
}
@media screen and (max-width: 1439px) {
  .hand-to-god__name {
    max-width: 414px;
    margin: 0;
    padding: 0 0 0 20px;
  }


}

