.header {
  position: relative;
  margin: 0 0 95px 0;
  box-sizing: border-box;
  height: 62px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #242424;
  font-family: 'FormularLight';
}
@media screen and (max-width: 1439px) {
  .header {
    border: none;
    margin: 0 0 50px 0;

  }
}
