.header__socials {
  margin: 0;
  display: flex;
  padding: 20px 0 20px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  border-right: 1px solid #242424;

}
@media screen and (max-width: 1439px) {
  .header__socials {
    display: none;
  }
}
