.hand-to-god__authors {
  max-width: 420px;
  grid-area: authors;
  margin: 0;
  padding: 0 0 0 182px;
  list-style-type: none;
  font-family: 'FormularLight';
}

@media screen and (max-width: 1439px) {
  .hand-to-god__authors {
    padding: 20px 0 72px 27px;
    max-width: 100%;
    background-color: #FFF;
  }
}
