.feedback__author {
    margin: 0;
    font-family: 'NeueMachinaRegular' , "Arial", "Impact", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}