.hand-to-god__button {
  box-sizing: border-box;
  border: none;
  font: inherit;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid #242424;
  background-color: #B7C09D;
  margin: 0;
  padding: 24px 0 0 24px;
  font-family: 'NeueMachinaRegular';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.hand-to-god__button:nth-child(1) {
  height: 187px;
  font-family: 'FormularLight';

}

.hand-to-god__button:nth-child(2) {
  background-image: url(../../../images/Union-top-right.svg);
  background-repeat: no-repeat;
  background-position: left 200px center;
  padding: 16px 0 0 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 55px;
  font-family: 'FormularLight';

}


.hand-to-god__button:nth-child(3) {
  background-image: url(../../../images/Union-button.svg);
  background-repeat: no-repeat;
  background-position: left 200px center;
  padding: 16px 0 0 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  height: 55px;
  font-family: 'FormularLight';
  border-bottom: none;
}

@media screen and (max-width: 1439px) {
  .hand-to-god__button{
    width: 244px;
  }
  .hand-to-god__button:nth-child(1) {
    height: 230px;
  }

  .hand-to-god__button:nth-child(2) {
    height: 56px;
  }


  .hand-to-god__button:nth-child(3) {
    height: 56px;
  }

}
